.csssize {
    height: 12595px
}

.t-body {
    margin: 0px
}

#allrecords,
body {
    background-color: #f6f6f6
}

#allrecords {
    -webkit-font-smoothing: antialiased
}

#allrecords a {
    color: #222831;
    text-decoration: none
}

#allrecords a,
#allrecords button,
#allrecords .t-radio,
#allrecords .t-checkbox,
#allrecords .t-img-select {
    outline: none
}

#allrecords a:focus-visible,
#allrecords button:focus-visible,
#allrecords .t-focusable,
#allrecords .t-focusable .t-btn,
#allrecords .t-focusable .t-btntext,
#allrecords .t-img-select:focus-visible+.t-img-select__indicator,
#allrecords .t-img-select:focus-visible+.t-img-select__indicator:after,
#allrecords .t-radio:focus-visible+.t-radio__indicator,
#allrecords .t-checkbox:focus-visible+.t-checkbox__indicator {
    outline-color: #2015FF;
    outline-offset: 4px;
    outline-style: auto
}

#allrecords .t-descr a:focus-visible,
#allrecords .t-sociallinks a:focus-visible,
#allrecords .ya-share2__link:focus-visible {
    outline-offset: 2px
}

#allrecords a[href^=tel] {
    color: inherit;
    text-decoration: none
}

#allrecords ol {
    padding-left: 22px
}

#allrecords ul {
    padding-left: 20px
}

#allrecords b,
#allrecords strong {
    font-weight: 700
}

@media print {

    body,
    html {
        min-width: 1200px;
        max-width: 1200px;
        padding: 0;
        margin: 0 auto;
        border: none
    }
}

.t-records {
    -webkit-font_smoothing: antialiased;
    background-color: #f6f6f6
}

.t-records a {
    color: #222831;
    text-decoration: none
}

.t-records a[href^=tel] {
    color: inherit;
    text-decoration: none
}

.t-records ol {
    padding-left: 22px;
    margin-top: 0px;
    margin-bottom: 10px
}

.t-records ul {
    padding-left: 20px;
    margin-top: 0px;
    margin-bottom: 10px
}

.t-mbfix {
    opacity: .01;
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
    position: fixed;
    width: 100%;
    height: 500px;
    background-color: white;
    top: 0px;
    left: 0px;
    z-index: 10000;
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease
}

.t-mbfix_hide {
    -webkit-transform: translateX(3000px);
    -ms-transform: translateX(3000px);
    transform: translateX(3000px)
}

img:not([src]) {
    visibility: hidden
}

.t-body_scroll-locked {
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden
}

.r_anim {
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s
}

.r_hidden {
    opacity: 0
}

.r_showed {
    opacity: 1
}

@media screen and (max-width:1024px) {

    a:active,
    button:active {
        -webkit-tap-highlight-color: rgba(255, 255, 255, .1)
    }
}

.t-text {
    font-family: 'Damn', Arial, sans-serif;
    font-weight: 300;
    color: #f6f6f6
}

.t-text_xs {
    font-size: 15px;
    line-height: 1.55
}

.t-text_sm {
    font-size: 18px;
    line-height: 1.55
}

.t-text_md {
    font-size: 20px;
    line-height: 1.55
}

.t-name {
    font-family: 'Damn', Arial, sans-serif;
    font-weight: 600;
    color: #222831
}

.t-name_xs {
    font-size: 16px;
    line-height: 1.35
}

.t-name_md {
    font-size: 20px;
    line-height: 1.35
}

.t-heading {
    font-family: 'Damn', Arial, sans-serif;
    font-weight: 600;
    color: #222831
}

.t-heading_sm {
    font-size: 28px;
    line-height: 1.17
}

.t-heading_md {
    font-size: 30px;
    line-height: 1.17
}

.t-descr {
    font-family: 'Damn', Arial, sans-serif;
    font-weight: 300;
    color: #f6f6f6
}

.t-descr_xxs {
    font-size: 14px;
    line-height: 1.55
}

.t-descr_xs {
    font-size: 16px;
    line-height: 1.55
}

.t-descr_sm {
    font-size: 18px;
    line-height: 1.55
}

.t-btn {
    display: inline-block;
    font-family: 'Damn', Arial, sans-serif;
    border: 0 none;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    font-weight: 700;
    background-image: none;
    cursor: pointer;
    -webkit-appearance: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.t-btn td {
    vertical-align: middle
}

.t-btn_sending {
    opacity: .5
}

.t-align_center {
    text-align: center
}

.t-align_left {
    text-align: left
}

.t-margin_auto {
    margin-left: auto;
    margin-right: auto
}

.t-valign_middle {
    vertical-align: middle
}

.t-valign_top {
    vertical-align: top
}

.t-tildalabel {
    background-color: #000;
    color: #fff;
    width: 100%;
    height: 70px;
    font-family: Arial;
    font-size: 14px
}

.t-tildalabel:hover .t-tildalabel__wrapper {
    opacity: 1
}

.t-tildalabel__wrapper {
    display: table;
    height: 30px;
    width: 270px;
    margin: 0 auto;
    padding-top: 20px;
    opacity: .4
}

.t-tildalabel__txtleft {
    display: table-cell;
    width: 120px;
    height: 30px;
    vertical-align: middle;
    text-align: right;
    padding-right: 12px;
    font-weight: 300;
    font-size: 12px
}

.t-tildalabel__wrapimg {
    display: table-cell;
    width: 30px;
    height: 30px;
    vertical-align: middle
}

.t-tildalabel__img {
    width: 30px;
    height: 30px;
    vertical-align: middle
}

.t-tildalabel__txtright {
    display: table-cell;
    width: 120px;
    height: 30px;
    vertical-align: middle;
    padding-left: 12px;
    font-weight: 500;
    letter-spacing: 2px
}

.t-tildalabel__link {
    color: #fff;
    text-decoration: none;
    vertical-align: middle
}

.t-popup {
    display: none
}

.t-submit {
    font-family: 'Damn', Arial, sans-serif
}

.t-input {
    font-family: 'Damn', Arial, sans-serif
}

.t-input__vis-ph {
    font-family: 'Damn', Arial, sans-serif
}

.t-select {
    font-family: 'Damn', Arial, sans-serif
}

.t-input-error {
    font-family: 'Damn', Arial, sans-serif
}

.t-form__errorbox-wrapper {
    font-family: 'Damn', Arial, sans-serif
}

.t-form__errorbox-text {
    font-family: 'Damn', Arial, sans-serif
}

.t-form__errorbox-item {
    font-family: 'Damn', Arial, sans-serif
}

.t-form__successbox {
    font-family: 'Damn', Arial, sans-serif
}

.t-rec_pt_0 {
    padding-top: 0
}

.t-rec_pt_15 {
    padding-top: 15px
}

.t-rec_pt_30 {
    padding-top: 30px
}

.t-rec_pt_60 {
    padding-top: 60px
}

.t-rec_pt_90 {
    padding-top: 90px
}

.t-rec_pb_0 {
    padding-bottom: 0
}

.t-rec_pb_15 {
    padding-bottom: 15px
}

.t-rec_pb_30 {
    padding-bottom: 30px
}

.t-rec_pb_90 {
    padding-bottom: 90px
}

.t-btnflex,
.t-btn.t-btnflex,
.t-submit.t-btnflex {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: .5ch;
    max-width: 100%;
    height: unset;
    padding: 0;
    overflow: hidden;
    font-family: 'Damn', Arial, sans-serif, Arial, sans-serif;
    font-weight: 600;
    line-height: var(--line-height, 1.4);
    padding-top: calc(((var(--height, 0px) - 1em * var(--line-height, 1.4)) / 2) - var(--border-width, 0px));
    padding-bottom: calc(((var(--height, 0px) - 1em * var(--line-height, 1.4)) / 2) - var(--border-width, 0px));
    box-sizing: border-box;
    border-style: solid;
    border-color: transparent;
    border-width: var(--border-width, 0);
    background-image: none;
    cursor: pointer;
    user-select: none;
    text-decoration: none;
    color: inherit;
    border-radius: 0;
    background-color: transparent;
    white-space: nowrap
}

.t-btnflex__text {
    max-width: 100%;
    overflow: hidden;
    text-align: center;
    white-space: inherit;
    text-overflow: ellipsis
}

.t-btnflex__icon {
    position: relative;
    flex-shrink: 0;
    width: 1.4em;
    height: 1.4em;
    transition-duration: inherit
}

.t-btnflex__icon::before,
.t-btnflex__icon::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transition-property: opacity, visibility;
    transition-duration: inherit
}

.t-btnflex__icon::before {
    content: '';
    background-image: var(--icon, none);
    transition-timing-function: cubic-bezier(.25, 1, .5, 1)
}

.t-btnflex__icon_has_hover::after {
    content: '';
    opacity: 0;
    visibility: hidden;
    background-image: var(--icon-hover, none);
    transition-timing-function: cubic-bezier(.45, 0, .55, 1)
}

@media (hover:hover) {
    .t-btnflex:hover .t-btnflex__icon_has_hover::before {
        opacity: 0;
        visibility: hidden;
        transition-timing-function: cubic-bezier(.5, 0, .75, 0)
    }

    .t-btnflex:hover .t-btnflex__icon_has_hover::after {
        opacity: 1;
        visibility: visible
    }
}

.t-btnflex_xs,
.t-btn.t-btnflex_xs,
.t-submit.t-btnflex_xs {
    --height: 35px;
    font-size: 13px;
    padding-left: 15px;
    padding-right: 15px
}

.t-btnflex_sm,
.t-btn.t-btnflex_sm,
.t-submit.t-btnflex_sm {
    --height: 45px;
    font-size: 14px;
    padding-left: 30px;
    padding-right: 30px
}

.t-btnflex_smd,
.t-btn.t-btnflex_smd,
.t-submit.t-btnflex_smd {
    --height: 50px;
    font-size: 15px;
    padding-left: 44px;
    padding-right: 44px
}

.t-btnflex_md,
.t-btn.t-btnflex_md,
.t-submit.t-btnflex_md {
    --height: 60px;
    font-size: 16px;
    padding-left: 60px;
    padding-right: 60px
}

.t-btnflex_lg,
.t-btn.t-btnflex_lg,
.t-submit.t-btnflex_lg {
    --height: 60px;
    font-size: 22px;
    padding-left: 70px;
    padding-right: 70px
}

.t-btnflex_xl,
.t-btn.t-btnflex_xl,
.t-submit.t-btnflex_xl {
    --height: 80px;
    font-size: 26px;
    padding-left: 80px;
    padding-right: 80px
}

.t-btnflex_xxl,
.t-btn.t-btnflex_xxl,
.t-submit.t-btnflex_xxl {
    --height: 100px;
    font-size: 30px;
    padding-left: 90px;
    padding-right: 90px
}

@media screen and (max-width:1200px) {
    .t-text_xs {
        font-size: 14px
    }

    .t-text_sm {
        font-size: 16px
    }

    .t-text_md {
        font-size: 18px
    }

    .t-descr_xxs {
        font-size: 12px
    }

    .t-descr_xs {
        font-size: 14px
    }

    .t-descr_sm {
        font-size: 16px
    }

    .t-name_xs {
        font-size: 14px
    }

    .t-name_md {
        font-size: 18px
    }

    .t-heading_sm {
        font-size: 26px
    }

    .t-heading_md {
        font-size: 28px
    }
}

@media screen and (max-width:640px) {
    .t-text_xs {
        font-size: 12px;
        line-height: 1.45
    }

    .t-text_sm {
        font-size: 14px;
        line-height: 1.45
    }

    .t-text_md {
        font-size: 16px;
        line-height: 1.45
    }

    .t-descr_xs {
        font-size: 12px;
        line-height: 1.45
    }

    .t-descr_sm {
        font-size: 14px;
        line-height: 1.45
    }

    .t-name_xs {
        font-size: 12px
    }

    .t-name_md {
        font-size: 16px
    }

    .t-heading_sm {
        font-size: 24px
    }

    .t-heading_md {
        font-size: 24px
    }

    .t-btn {
        white-space: normal
    }

    .t-btnflex,
    .t-btn.t-btnflex,
    .t-submit.t-btnflex {
        white-space: normal
    }

    .t-btnflex_sm,
    .t-btn.t-btnflex_sm,
    .t-submit.t-btnflex_sm {
        padding-left: 20px;
        padding-right: 20px
    }

    .t-btnflex_md,
    .t-btn.t-btnflex_md,
    .t-submit.t-btnflex_md {
        padding-left: 30px;
        padding-right: 30px
    }

    .t-btnflex_lg,
    .t-btn.t-btnflex_lg,
    .t-submit.t-btnflex_lg {
        font-size: 18px;
        padding-left: 40px;
        padding-right: 40px
    }

    .t-btnflex_xl,
    .t-btn.t-btnflex_xl,
    .t-submit.t-btnflex_xl {
        font-size: 22px;
        padding-left: 50px;
        padding-right: 50px
    }

    .t-btnflex_xxl,
    .t-btn.t-btnflex_xxl,
    .t-submit.t-btnflex_xxl {
        font-size: 26px;
        padding-left: 60px;
        padding-right: 60px
    }
}

@media screen and (max-width:480px) {
    .t-rec_pt_0 {
        padding-top: 0
    }

    .t-rec_pt_15 {
        padding-top: 15px
    }

    .t-rec_pt_30 {
        padding-top: 30px
    }

    .t-rec_pt_60 {
        padding-top: 60px
    }

    .t-rec_pt_90 {
        padding-top: 90px
    }

    .t-rec_pb_0 {
        padding-bottom: 0
    }

    .t-rec_pb_15 {
        padding-bottom: 15px
    }

    .t-rec_pb_30 {
        padding-bottom: 30px
    }

    .t-rec_pb_90 {
        padding-bottom: 90px
    }

    .t-btnflex_xs,
    .t-btn.t-btnflex_xs,
    .t-submit.t-btnflex_xs {
        --height: 40px
    }

    .t-btnflex_sm,
    .t-btn.t-btnflex_sm,
    .t-submit.t-btnflex_sm {
        --height: 50px
    }
}

@media screen and (max-width:1200px) {
    .t-screenmin-1200px {
        display: none
    }
}

@media screen and (max-width:980px) {
    .t-screenmin-980px {
        display: none
    }
}

@media screen and (max-width:640px) {
    .t-screenmin-640px {
        display: none
    }
}

@media screen and (max-width:480px) {
    .t-screenmin-480px {
        display: none
    }
}

@media screen and (max-width:320px) {
    .t-screenmin-320px {
        display: none
    }
}

@media screen and (min-width:321px) {
    .t-screenmax-320px {
        display: none
    }
}

@media screen and (min-width:481px) {
    .t-screenmax-480px {
        display: none
    }
}

@media screen and (min-width:641px) {
    .t-screenmax-640px {
        display: none
    }
}

@media screen and (min-width:981px) {
    .t-screenmax-980px {
        display: none
    }
}

@media screen and (min-width:1201px) {
    .t-screenmax-1200px {
        display: none
    }
}

@font-face {
    font-family: 'Damn';
    src: url('https://static.tildacdn.com/tild3735-6538-4530-b931-303061326165/DAMN.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: 'Damn';
    src: url('https://static.tildacdn.com/tild3837-3162-4961-a662-653238646161/DAMN.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: 'Damn';
    src: url('https://static.tildacdn.com/tild3036-3337-4863-b265-366262356464/DAMN.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: 'Damn';
    src: url('https://static.tildacdn.com/tild3033-6635-4261-a461-386433383534/DAMN.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: 'Damn';
    src: url('https://static.tildacdn.com/tild3062-3362-4030-b661-613564323864/DAMN.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: 'Manrop';
    src: url('https://static.tildacdn.com/tild3466-3138-4566-b236-376566373363/Manrope-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: 'Manrop';
    src: url('https://static.tildacdn.com/tild3661-6237-4265-b738-646364633536/Manrope-Light.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: 'Manrop';
    src: url('https://static.tildacdn.com/tild6339-3861-4835-b530-646230303833/Manrope-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: 'Manrop';
    src: url('https://static.tildacdn.com/tild3936-3434-4663-b037-633936323637/Manrope-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: 'Manrop';
    src: url('https://static.tildacdn.com/tild3739-3639-4132-b461-613433643437/Manrope-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: 'Manrop';
    src: url('https://static.tildacdn.com/tild6431-3438-4865-a632-386566633632/Manrope-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: 'Manrop';
    src: url('https://static.tildacdn.com/tild3165-6538-4262-b638-393761373933/Manrope-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: 'Manrop';
    src: url('https://static.tildacdn.com/tild3835-6336-4264-b836-356566376336/Manrope-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: 'Manrop';
    src: url('https://static.tildacdn.com/tild6338-3136-4437-b164-663933353433/Manrope-Bold.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap
}

.t1003 {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

.t1003__outer {
    position: relative;
    max-width: 100vw;
    width: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden;
    z-index: 0;
    pointer-events: none
}

.t1003__wrapper {
    overflow: hidden;
    position: relative;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0
}

.t1003__content-wrapper {
    opacity: 0
}

.t1003__content {
    list-style: none;
    height: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite
}

.t1003__item {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-negative: 0;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    max-height: 100%;
    white-space: nowrap;
    pointer-events: all;
    -webkit-transform: translateZ(0)
}

.t1003__item-txt {
    padding: 0 10px
}

#allrecords a.t1003__item-link:focus-visible {
    outline-offset: -1px
}

.t1003__item a {
    color: #f6f6f6
}

.t1003__bgimg {
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    box-sizing: border-box
}

.t396 {
    -webkit-text-size-adjust: 100%
}

.t396__iframe {
    z-index: 10000;
    background-color: #fff;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    border: 0
}

html body.t396__body_overflow_hidden {
    overflow: hidden !important
}

.t396__display_none {
    display: none
}

.t396__artboard {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden
}

.t396__artboard .t396__artboard_scale {
    overflow: visible
}

.t396__artboard.t396__artboard_scale .t396__elem[data-elem-type='text'] .tn-atom {
    word-break: normal;
    -moz-osx-font-smoothing: grayscale
}

.t396__artboard_scale .t396__carrier,
.t396__artboard_scale .t396__filter {
    transform-origin: top left
}

.tn-atom__scale-wrapper {
    width: inherit;
    height: inherit
}

.t396__elem .tn-atom__scale-wrapper .tn-atom {
    width: inherit;
    height: inherit !important;
    box-sizing: border-box
}

.t396__artboard.rendering .tn-elem {
    visibility: hidden
}

.t396__artboard.rendered .tn-elem {
    visibility: visible
}

.t396__carrier {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    width: 100%;
    height: 100vh;
    -moz-transform: unset
}

.t396__filter {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100vh;
    transform: translateZ(0)
}

.t396__elem {
    position: absolute;
    box-sizing: border-box;
    display: table
}

.t396 .tn-atom {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

@media screen and (max-width:959px) {
    .t396_safari .t396__artboard_scale .tn-atom {
        -webkit-text-size-adjust: auto;
        -moz-text-size-adjust: auto;
        -ms-text-size-adjust: auto
    }
}

.t396 .tn-atom ul,
.t396 .tn-atom ol {
    margin-bottom: 0
}

.t396_safari .tn-atom:not(.tn-atom__form) {
    transform: translateZ(0)
}

.t396 a.tn-atom {
    text-decoration: none
}

.t396 .tn-atom__img {
    width: 100%;
    display: block
}

.t396 .tn-atom__html {
    vertical-align: top
}

.t396 .tn-atom__pin {
    border-radius: 1000px;
    border-style: solid
}

.t396 .tn-atom__pin_onclick {
    cursor: pointer
}

.t396 .tn-atom__tip {
    position: absolute;
    box-sizing: border-box;
    width: 300px;
    max-width: 90vw;
    padding: 15px;
    display: none
}

.t396 .tn-atom__pin:hover .tn-atom__tip {
    display: none
}

.t396 .tn-atom__tip-img {
    width: 100%;
    display: block;
    margin-bottom: 10px
}

.t396 .tn-atom__tip[data-tip-pos='top'] {
    bottom: 100%;
    margin-bottom: 15px;
    left: 50%;
    transform: translateX(-50%)
}

.t396 .tn-atom__tip[data-tip-pos='bottom'] {
    top: 100%;
    margin-top: 15px;
    left: 50%;
    transform: translateX(-50%)
}

.t396 .tn-atom__tip[data-tip-pos='left'] {
    right: 100%;
    margin-right: 15px;
    top: 50%;
    transform: translateY(-50%)
}

.t396 .tn-atom__tip[data-tip-pos='right'] {
    left: 100%;
    margin-left: 15px;
    top: 50%;
    transform: translateY(-50%)
}

.t396__ui {
    position: absolute;
    top: 16px;
    left: 196px;
    background-color: #fa876b;
    color: #000 !important;
    height: 30px;
    line-height: 30px;
    width: 100px;
    z-index: 1000;
    text-align: center;
    border-radius: 3px;
    display: none;
    font-size: 14px
}

.t396__artboard.t396__artboard-fixed-active {
    transform: none !important;
    opacity: 1 !important
}

.t396__artboard-fixed-no-bg,
.t396__artboard-fixed-innactive,
.t396__artboard-fixed-innactive .t396__elem,
.t396__artboard-fixed-no-bg.t396__artboard-fixed-innactive .t396__elem {
    pointer-events: none
}

.t396__artboard-fixed-no-bg .t396__elem {
    pointer-events: auto
}

.t396__elem-flex {
    position: relative !important;
    left: initial !important;
    top: initial !important;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -ms-flex-negative: 0;
    flex-shrink: 0
}

.t396__artboard-flex>.t396__elem:not(.tn-elem__absolute),
.t396__artboard-flex>.t396__group:not(.tn-group__absolute) {
    position: relative !important;
    left: initial !important;
    top: initial !important;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -ms-flex-negative: 0;
    flex-shrink: 0
}

.t1093 .t-popup {
    padding: 0;
    z-index: 99999;
    background-color: transparent;
    transition: none
}

.t1093 .t-popup.t-popup-disabled-bg,
.t1093 .t-popup.t-popup_hover-trigger {
    pointer-events: none
}

.t1093 .t-popup.t-popup-disabled-bg .t-popup__close,
.t1093 .t-popup.t-popup_hover-trigger .t-popup__close,
.t1093 .t-popup.t-popup_show .t396__artboard_pointer-events-auto {
    pointer-events: auto
}

.t1093 .t-popup-scrollable-artboard .t396__artboard {
    pointer-events: auto
}

.t1093 .t-popup.t-popup-transition+.t-popup__bg {
    transition-property: opacity;
    transition-duration: 0.3s
}

.t1093 .t-popup__bg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99998;
    pointer-events: none;
    opacity: 0;
    display: none
}

.t1093 .t-popup__bg.t-popup__bg-active {
    display: block;
    opacity: 1
}

.t1093 .t-popup__container {
    left: 0;
    right: 0;
    background-color: transparent;
    pointer-events: none
}

.t1093 .t-popup.t-popup_show .r:not([data-record-type='396'], [data-record-type='121']),
.t1093 .t-popup.t-popup_show .tn-elem,
.t1093 .t-popup.t-popup_show .tn-group {
    pointer-events: auto
}

.t1093 .t-popup__container.t-valign_top {
    transform: none;
    top: 0
}

.t1093 .t-popup__container.t-popup__container-static.t-valign_top,
.t1093 .t-popup__container.t-popup__container-static.t-valign_bottom {
    margin: 0 auto
}

.t1093 .t-popup__container.t-valign_bottom {
    transform: none;
    top: auto;
    bottom: 0
}

.t1093 .t-popup-transition:not(.t-popup-anim-fadein, .t-popup-fadeout) {
    overflow: hidden;
    overflow-y: auto
}

.t1093 .t-popup-transition {
    opacity: 1
}

.t1093 .t-popup-transition:not(.t-popup_show) {
    pointer-events: none
}

.t1093 .t-popup-transition.t-popup-safari.t-popup-anim-appearfromright .t-popup__container,
.t1093 .t-popup-transition.t-popup-safari.t-popup-anim-appearfrombottom .t-popup__container {
    opacity: 0;
    transition-property: transform, opacity
}

.t1093 .t-popup-transition.t-popup-safari.t-popup-anim-appearfromright.t-popup_show .t-popup__container,
.t1093 .t-popup-transition.t-popup-safari.t-popup-anim-appearfrombottom.t-popup_show .t-popup__container {
    opacity: 1
}

.t1093 .t-popup-transition:not(.t-popup-anim-fadein) .t-popup__container {
    transition-property: transform;
    transition-duration: 0.3s
}

.t1093 .t-popup-anim-fadein .t-popup__container,
.t1093 .t-popup-fadeout:not(.t-popup_show) .t-popup__container {
    opacity: 0;
    transform: none;
    transition-property: opacity;
    transition-duration: 0.3s
}

.t1093 .t-popup-anim-fadein .t-valign_middle.t-popup__container:not(.t-popup__container-static) {
    transform: translateY(-50%)
}

.t1093 .t-popup-anim-appearfromtop .t-popup__container {
    transform: translateY(-100vh)
}

.t1093 .t-popup-anim-appearfrombottom .t-popup__container {
    transform: translateY(100vh)
}

.t1093 .t-popup-anim-appearfromtop .t-popup__container.t-popup__container-static {
    transform: translateY(-100%)
}

.t1093 .t-popup-anim-appearfrombottom .t-popup__container.t-popup__container-static {
    transform: translateY(100%)
}

.t1093 .t-popup-anim-appearfromright .t-popup__container {
    transform: translateX(100%)
}

.t1093 .t-popup-anim-appearfromleft .t-popup__container {
    transform: translateX(-100%)
}

.t1093 .t-popup-anim-appearfromright .t-popup__container.t-valign_middle:not(.t-popup__container-static) {
    transform: translate(100%, -50%)
}

.t1093 .t-popup-anim-appearfromleft .t-popup__container.t-valign_middle:not(.t-popup__container-static) {
    transform: translate(-100%, -50%)
}

.t1093 .t-popup-transition.t-popup_show:not(.t-popup-anim-fadein) .t-popup__container,
.t1093 .t-popup-transition.t-popup-fadeout:not(.t-popup-anim-fadein) .t-popup__container {
    transform: translate(0, 0)
}

.t1093 .t-popup-transition.t-popup_show:not(.t-popup-anim-fadein) .t-popup__container.t-valign_middle:not(.t-popup__container-static),
.t1093 .t-popup-transition.t-popup-fadeout:not(.t-popup-anim-fadein) .t-popup__container.t-valign_middle:not(.t-popup__container-static) {
    transform: translate(0, -50%)
}

.t1093 .t-popup-transition.t-popup_show.t-popup-anim-fadein .t-popup__container {
    opacity: 1
}

.t1093 .t-popup-transition.t-popup-fadeout .t-popup__container {
    transition-property: opacity
}

.t1093 .js-send-form-success .t-form__inputsbox {
    display: none
}

.t123__centeredContainer {
    text-align: center
}

.t395__col {
    margin: 0 auto
}

.t395__wrapper {
    display: table;
    width: 100%;
    height: 100%
}

#allrecords .t395__wrapper {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none
}

.t-rec[role='tabpanel'] {
    outline: none
}

.t395__tab {
    display: table-cell;
    vertical-align: middle;
    border-right: none !important;
    position: relative;
    min-width: fit-content
}

.t395__tab.t395__tab_active::after {
    content: ' ';
    position: absolute;
    z-index: 1
}

.t395__wrapper_mobile-flex .t395__tab.t395__tab_active:nth-last-child(2)::after {
    display: none
}

.t395__tab_active:last-child::after {
    display: none
}

.t395__title {
    width: 100%;
    height: 100%;
    padding: 18px 22px;
    box-sizing: border-box;
    color: #777;
    background-color: transparent;
    border: none;
    transition: font-weight, color 0.3s ease;
    text-align: inherit;
    cursor: pointer
}

.t395__tab_active .t395__title {
    color: #222831;
    cursor: default
}

#allrecords button.t395__title:focus-visible {
    outline-offset: 1px
}

.t395__width_12 {
    width: 12.5%
}

.t395__width_14 {
    width: 14.28%
}

.t395__width_16 {
    width: 16.66%
}

.t395__width_20 {
    width: 20%
}

.t395__width_25 {
    width: 25%
}

.t395__width_33 {
    width: 33.3%
}

.t395__width_50 {
    width: 50%
}

.t395__width_100 {
    width: 100%
}

.t379__off,
.t395__off:not([data-record-type='396']) {
    display: none !important
}

.t395__off[data-record-type='396'] {
    opacity: 0 !important;
    height: 0 !important;
    max-height: 0 !important;
    min-height: 0 !important;
    pointer-events: none !important;
    overflow: hidden !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important
}

.t395__select {
    -webkit-appearance: none;
    padding: 16px 20px;
    width: 100%;
    box-sizing: border-box;
    background-color: transparent;
    border-radius: 0;
    border: 1px solid;
    outline: none;
    margin: 0;
    font-size: 16px
}

.t395__wrapper_mobile {
    position: relative;
    display: none
}

.t395__wrapper_mobile::after {
    content: ' ';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 4px 0;
    position: absolute;
    top: 50%;
    right: 20px;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%)
}

.t395__firefoxfix {
    width: 16px;
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
    pointer-events: none
}

.t395 .t-align_left .t395__tab_active {
    position: relative
}

.t395__separator_mobile {
    display: none
}

@media screen and (max-width:960px) {
    .t395__col {
        padding: 0 20px;
        box-sizing: border-box
    }

    .t395__wrapper_mobile {
        display: block
    }

    .t395__wrapper {
        display: none
    }

    .t395__col_mobile-flex {
        width: 100%;
        padding: 0 0 10px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        overflow: auto hidden
    }

    .t395__wrapper_mobile-flex {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }

    .t395__wrapper_mobile-flex+.t395__wrapper_mobile {
        display: none
    }

    .t395__select {
        padding-right: 40px
    }
}

@media screen and (max-width:640px) {
    .t395__col_mobile-flex {
        max-width: 100%;
        width: 100%;
        margin-right: 0
    }

    #allrecords .t395__wrapper_mobile-flex {
        padding-left: 20px
    }

    .t395__separator_mobile {
        display: table-cell;
        min-width: 20px;
        width: 20px;
        height: 100%
    }
}

.t165 .t-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex
}

.t165__vmiddle {
    margin-top: auto;
    margin-bottom: auto
}

.t165__vtop {
    margin-bottom: auto
}

.t165__vbottom {
    margin-top: auto
}

.t165__left {
    text-align: left
}

.t165__center {
    text-align: center
}

.t165__right {
    text-align: right
}

.t165__textwrapper {
    padding-right: 20px
}

.t165__uptitle {
    padding: 0;
    margin: 0;
    margin-bottom: 14px
}

.t165__title {
    padding: 0;
    margin: 0;
    padding-bottom: 28px
}

.t165__text {
    opacity: .85
}

.t165__img {
    float: right;
    width: 100%
}

.t165__img_circle {
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%
}

.t165__btn-container {
    width: 100%;
    padding-top: 60px
}

@media screen and (max-width:960px) {
    .t165__btn-container {
        padding-top: 30px;
        padding-bottom: 20px
    }
}

@media screen and (max-width:640px) {
    .t165 .t-container {
        display: -webkit-block;
        display: block
    }

    .t165__textwrapper {
        padding-right: 0
    }

    .t165__img {
        float: none
    }

    .t165__col-top {
        margin-bottom: 30px
    }
}

.t1196__col .t-col:first-child {
    margin-left: 0 !important
}

.t1196__col .t-col:last-child {
    margin-right: 0 !important
}

@media screen and (max-width:960px) {
    .t1196__col .t-col:first-child {
        padding-left: 0 !important
    }

    .t1196__col .t-col:last-child {
        padding-right: 0 !important
    }
}

.t1196__container_flex {
    align-items: flex-end
}

@media screen and (max-width:960px) {
    .t1196__container_flex {
        display: flex
    }

    .t1196__container_flex .t-col:not(:first-child) {
        width: 0;
        padding: 0
    }

    .t1196 .t-section__container .t-align_right,
    .t1196 .t-section__container .t-align_center {
        text-align: left;
        margin-left: 0 !important
    }
}

.t1196__controls {
    position: relative;
    z-index: 3;
    display: inline-flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 50px;
    pointer-events: none
}

.t1196__controls_slider {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    justify-content: space-between;
    padding: 0 40px;
    margin: 0;
    box-sizing: border-box;
    transform: translateY(-50%)
}

.t1196__items:has(.t1196__slider_width_40) .t1196__controls_slider {
    padding: 0 60px
}

.t1196__scroll-icon-wrapper {
    display: none;
    padding: 0 20px 10px 0;
    font-size: 0;
    text-align: right;
    color: #a1a1a1
}

@media screen and (max-width:960px) {
    .t1196__controls {
        display: none
    }

    .t1196__scroll-icon-wrapper {
        display: block
    }
}

.t1196__control {
    padding: 0;
    transform-origin: center;
    flex-shrink: 0;
    pointer-events: auto;
    transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out
}

.t1196__control_sm {
    width: 30px;
    height: 30px
}

.t1196__control_md {
    width: 40px;
    height: 40px
}

.t1196__control_lg {
    width: 50px;
    height: 50px
}

.t1196__control_xl {
    width: 60px;
    height: 60px
}

.t1196__control_right {
    transform: rotate(0.5turn)
}

.t1196__control svg {
    width: 100%;
    height: 100%
}

.t1196__control svg path {
    transition: stroke 0.2s ease-in-out
}

.t1196__items {
    position: relative
}

.t1196__slider {
    --padding-right: 0px;
    --padding-left: 0px;
    position: relative;
    z-index: 2;
    display: flex;
    align-items: stretch;
    padding: 0 var(--padding-right) 0 var(--padding-left);
    max-width: 100%;
    box-sizing: border-box;
    overflow: auto hidden;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
    scroll-padding-left: var(--padding-left);
    scroll-padding-right: var(--padding-right);
    scroll-behavior: smooth
}

.t1196__slider::-webkit-scrollbar {
    display: none
}

.t1196__slider:not(.t1196__slider_editor) {
    cursor: grab
}

.t1196__slider.t1196__slider_dragging:not(.t1196__slider_editor) {
    cursor: grabbing
}

.t1196__slider.t1196__slider_width_40 {
    --padding-right: 40px;
    --padding-left: 40px
}

.t1196__slider.t1196__slider_width_12 {
    --column-width: 60px;
    --column-gap: 40px;
    --container-max-width: calc(var(--column-width) * 12 + var(--column-gap) * 11);
    --container-width: min(calc(100% - 40px), var(--container-max-width));
    --padding-right: calc((100% - var(--container-width)) / 2);
    --padding-left: calc((100% - var(--container-width)) / 2)
}

.t1196__slider.t1196__slider_width_12.t1196__slider_prefix_1 {
    --padding-left: calc((100% - var(--container-width)) / 2 + var(--column-width) + var(--column-gap))
}

.t1196__slider.t1196__slider_width_12.t1196__slider_prefix_2 {
    --padding-left: calc((100% - var(--container-width)) / 2 + (var(--column-width) + var(--column-gap)) * 2)
}

.t1196__slider.t1196__slider_width_12.t1196__slider_prefix_3 {
    --padding-left: calc((100% - var(--container-width)) / 2 + (var(--column-width) + var(--column-gap)) * 3)
}

.t1196__slider.t1196__slider_width_12.t1196__slider_prefix_4 {
    --padding-left: calc((100% - var(--container-width)) / 2 + (var(--column-width) + var(--column-gap)) * 4)
}

.t1196__slider.t1196__slider_width_12.t1196__slider_prefix_5 {
    --padding-left: calc((100% - var(--container-width)) / 2 + (var(--column-width) + var(--column-gap)) * 5)
}

.t1196__slider.t1196__slider_width_12.t1196__slider_prefix_6 {
    --padding-left: calc((100% - var(--container-width)) / 2 + (var(--column-width) + var(--column-gap)) * 6)
}

.t1196__slider.t1196__slider_width_12.t1196__slider_prefix_7 {
    --padding-left: calc((100% - var(--container-width)) / 2 + (var(--column-width) + var(--column-gap)) * 7)
}

.t1196__slider.t1196__slider_width_12.t1196__slider_prefix_8 {
    --padding-left: calc((100% - var(--container-width)) / 2 + (var(--column-width) + var(--column-gap)) * 8)
}

.t1196__slider.t1196__slider_width_12.t1196__slider_prefix_9 {
    --padding-left: calc((100% - var(--container-width)) / 2 + (var(--column-width) + var(--column-gap)) * 9)
}

.t1196__slider.t1196__slider_width_12.t1196__slider_prefix_10 {
    --padding-left: calc((100% - var(--container-width)) / 2 + (var(--column-width) + var(--column-gap)) * 10)
}

.t1196__slider.t1196__slider_width_12.t1196__slider_prefix_11 {
    --padding-left: calc((100% - var(--container-width)) / 2 + (var(--column-width) + var(--column-gap)) * 11)
}

@media screen and (max-width:1200px) {
    .t1196__slider.t1196__slider_width_12 {
        --column-gap: 20px
    }
}

@media screen and (max-width:960px) {
    .t1196__slider.t1196__slider_width_12 {
        --column-width: calc(1px - 1px);
        --column-gap: calc(1px - 1px);
        --container-max-width: 600px
    }

    .t1196__slider.t1196__slider_width_40 {
        --padding-right: 20px;
        --padding-left: 20px
    }
}

.t1196__slider.t1196__slider_has_shadow {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: -50px;
    margin-bottom: -50px
}

.t1196__item {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    overflow: hidden;
    box-sizing: border-box;
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out
}

a.t1196__item {
    -webkit-user-drag: none
}

.t1196__slider_dragging .t1196__item {
    pointer-events: none
}

.t1196__content {
    height: 100%;
    width: 100%;
    box-sizing: border-box
}

.t1196__item_bg .t1196__content {
    position: relative;
    z-index: 2;
    height: auto;
    margin-top: auto
}

.t1196__item .t-card__btn-wrapper,
.t1196__item .t-card__btntext-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: auto
}

.t1196__item .t-card__btntext-wrapper {
    gap: 10px 15px
}

.t1196__item_center .t-card__btn-wrapper,
.t1196__item_center .t-card__btntext-wrapper {
    justify-content: center
}

.t1196__item_bg .t-card__btn-wrapper,
.t1196__item_bg .t-card__btntext-wrapper {
    margin-top: 0
}

.t1196__item_bg_bottom .t1196__content,
.t1196__item_bg_title_top .t1196__content,
.t1196__item_bg_text_top .t1196__content {
    margin-top: 0
}

.t1196__item_bg_title_top .t1196__content,
.t1196__item_bg_text_top .t1196__content {
    height: 100%
}

.t1196__item_bg_title_top .t-card__descr,
.t1196__item_bg_title_top .t-card__btn-wrapper:not(.t-card__descr+.t-card__btn-wrapper),
.t1196__item_bg_text_top .t-card__btn-wrapper,
.t1196__item_bg_title_top .t-card__btntext-wrapper:not(.t-card__descr+.t-card__btntext-wrapper),
.t1196__item_bg_text_top .t-card__btntext-wrapper {
    margin-top: auto
}

.t1196__content-inner {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    box-sizing: border-box
}

.t1196__item_center .t1196__content-inner {
    text-align: center
}

.t1196__item .t-card__uptitle:not(:last-child) {
    padding-bottom: 14px
}

.t1196__item .t-card__title:not(:last-child) {
    padding-bottom: 14px
}

.t1196__item .t-card__descr:not(:last-child) {
    padding-bottom: 20px
}

.t1196__item_filter::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2
}

.t1196__item .t-card__btn {
    display: inline-flex;
    align-items: center;
    line-height: 1;
    box-sizing: border-box;
    max-width: 100%;
    overflow: hidden
}

.t1196__item .t-card__btn>span {
    overflow: hidden;
    text-overflow: ellipsis
}

.t1196__imgwrapper {
    position: relative;
    width: 100%;
    flex-shrink: 0;
    overflow: hidden
}

.t1196__item_bg .t1196__imgwrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1
}

.t1196__bgimg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition-property: opacity, visibility;
    transition-duration: 0.3s
}

.t1196__bgimg_first {
    transition-timing-function: cubic-bezier(.25, 1, .5, 1)
}

.t1196__bgimg_second {
    opacity: 0;
    visibility: hidden;
    transition-timing-function: cubic-bezier(.45, 0, .55, 1)
}

.t1196__item:hover .t1196__imgwrapper_hover .t1196__bgimg_first {
    opacity: 0;
    visibility: hidden;
    transition-timing-function: cubic-bezier(.5, 0, .75, 0)
}

.t1196__item:hover .t1196__imgwrapper_hover .t1196__bgimg_second {
    opacity: 1;
    visibility: visible
}

.t1196__item.t1196__item_top.t1196__item_has_image.t1196__item_has_bg .t1196__content-inner {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important
}

.t1196__item.t1196__item_bottom.t1196__item_has_image.t1196__item_has_bg .t1196__content-inner {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important
}

.t1196 .t-section__title {
    font-size: 42px;
    font-weight: 500;
    line-height: 1.25
}

.t1196 .t-section__descr {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5
}

@media (max-width:480px) {
    .t1196__item .t-card__btn:not(.t-btntext) {
        width: 100%;
        justify-content: center
    }

    .t1196 .t-section__title {
        font-size: 30px
    }

    .t1196 .t-section__descr {
        font-size: 16px
    }
}

.t051__text {
    text-align: center
}

.t554__general-wrapper {
    position: relative
}

.t554__card-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    max-width: 1160px;
    z-index: 1
}

.t554__card {
    position: absolute;
    background: #fff;
    min-height: 300px;
    padding: 60px;
    box-sizing: border-box;
    width: 100%;
    top: 60px
}

.t554__title {
    margin-bottom: 30px
}

.t554 .t-sociallinks {
    margin-top: 30px
}

.t554 .t-sociallinks a {
    display: inline-block
}

.t554 .t-sociallinks__item {
    display: inline-block;
    margin: 4px 1px 0
}

#allrecords .t554 ul.t-sociallinks__wrapper {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none
}

.t554__prefix_1 {
    left: 100px
}

.t554__prefix_2 {
    left: 200px
}

.t554__prefix_3 {
    left: 300px
}

.t554__prefix_4 {
    left: 400px
}

.t554__prefix_5 {
    left: 500px
}

.t554__prefix_6 {
    left: 600px
}

.t554__prefix_7 {
    left: 700px
}

.t554__prefix_8 {
    left: 800px
}

.t554__prefix_9 {
    left: 900px
}

.t554__prefix_10 {
    left: 1000px
}

.t554__prefix_11 {
    left: 1100px
}

.t554__prefix_12 {
    left: 1200px
}

@media screen and (max-width:1200px) {
    .t554__card-wrapper {
        max-width: 940px
    }

    .t554__prefix_1 {
        left: 80px
    }

    .t554__prefix_2 {
        left: 160px
    }

    .t554__prefix_3 {
        left: 240px
    }

    .t554__prefix_4 {
        left: 320px
    }

    .t554__prefix_5 {
        left: 400px
    }

    .t554__prefix_6 {
        left: 480px
    }

    .t554__prefix_7 {
        left: 560px
    }

    .t554__prefix_8 {
        left: 640px
    }

    .t554__prefix_9 {
        left: 720px
    }

    .t554__prefix_10 {
        left: 800px
    }

    .t554__prefix_11 {
        left: 880px
    }

    .t554__prefix_12 {
        left: 960px
    }
}

@media screen and (max-width:960px) {

    .t554__card-wrapper,
    .t554__card {
        position: initial
    }

    .t554__card-wrapper {
        max-width: 640px
    }

    .t554__card {
        max-width: 100%;
        width: 100%;
        margin: 0;
        padding: 45px 20px;
        min-height: auto
    }

    .t554_map {
        height: 50vh !important
    }

    .t554_map .t-map {
        max-height: 100%
    }
}

@media screen and (max-width:640px) {
    .t554__card-wrapper {
        max-width: 100%
    }
}

.t554 .t-map-lazyload {
    background-color: rgb(229, 227, 223)
}

.t134__logo {
    width: 100%;
    font-size: 28px;
    font-weight: 600
}

.t134 {
    text-align: center
}

.t134__img {
    max-width: 300px
}

.t134__title {
    font-family: 'Damn', Arial, sans-serif;
    font-size: 24px;
    line-height: 25px;
    text-align: center;
    padding-top: 28px;
    padding-bottom: 9px;
    color: #f6f6f6
}

.t134__descr {
    font-size: 14px;
    color: #f6f6f6;
    line-height: 26px;
    letter-spacing: 1px;
    text-align: center;
    font-family: 'Damn', Arial, sans-serif;
    padding-top: 22px;
    padding-bottom: 6px;
    opacity: .7
}

.t134__link {
    display: block
}

.t134__img {
    vertical-align: bottom
}

.t134 a {
    color: #f6f6f6
}

#allrecords .t-text a,
#allrecords .t-descr:not(.t706__product-title) a,
#allrecords .t-heading a:not(.t-card__link),
#allrecords .t-title a,
#allrecords .t-impact-text a,
#allrecords .t-text-impact a,
#allrecords .t-name:not(.t-feed__parts-switch-btn):not(.t-feed__post-title) a:not(.t794__typo):not(.t-menusub__link-item):not(.t-card__link),
#allrecords .t-uptitle a,
#allrecords .tn-atom[field] a {
    transition: color 0.3s
}

#allrecords .t-text a:hover,
#allrecords .t-descr:not(.t706__product-title) a:hover,
#allrecords .t-heading a:not(.t-card__link):hover,
#allrecords .t-title a:hover,
#allrecords .t-impact-text a:hover,
#allrecords .t-text-impact a:hover,
#allrecords .t-name:not(.t-feed__parts-switch-btn):not(.t-feed__post-title) a:not(.t794__typo):not(.t-menusub__link-item):not(.t-card__link):hover,
#allrecords .t-uptitle a:hover,
#allrecords .tn-atom[field] a:hover {
    color: #222831
}

#allrecords .t-text a:hover,
#allrecords .t-descr:not(.t706__product-title) a:hover,
#allrecords .t-heading a:not(.t-card__link):hover,
#allrecords .t-title a:hover,
#allrecords .t-impact-text a:hover,
#allrecords .t-text-impact a:hover,
#allrecords .t-name:not(.t-feed__parts-switch-btn):not(.t-feed__post-title) a:not(.t794__typo):not(.t-menusub__link-item):not(.t-card__link):hover,
#allrecords .t-uptitle a:hover,
#allrecords .tn-atom[field] a:hover {
    border-color: #f6f6f6
}