/* https://mxbogdanov.github.io/greenhouse/widget.css */

.b-start {
    background-color: #f6f6f6 !important;
    border: 0 !important;        /* = border: none */
    box-shadow: none !important;  /* многие библиотеки имитируют «бордер» тенями */
    outline: none !important;     /* убирает системный фокус (см. заметку ниже) */
    font-family: 'Manrop', Arial, sans-serif !important;
    font-size: 12px !important;
}

/* Основная кнопка "Искать" */
.b-start.s-btn--primary {
    font-family: 'Damn', Arial, sans-serif;
    border-radius: 10px !important;   /* Скруглённые углы */
    padding: 12px 32px !important;    /* Отступы */
    font-size: 16px !important;       /* Размер шрифта */
    background-color: #1e5128 !important; /* Белый фон */
    color: #f6f6f6 !important;        /* Цвет текста */
    transition: all 0.3s ease-in-out;
}

.b-select-ghost {
    border-radius: 10px !important;   /* Скруглённые углы */
    border: 1px solid #222831 !important; /* Цвет рамки */
    padding: 12px 32px !important;    /* Отступы */
    font-size: 16px !important;       /* Размер шрифта */
    background-color: #ffffff !important; /* Белый фон */
    color: #222831 !important;        /* Цвет текста */
    height: 50px;
    transition: all 0.3s ease-in-out;
}

.ui-state-active {
    background-color: #1e5128 !important; /* Белый фон */
    color: #f6f6f6 !important;        /* Цвет текста */
}